

@mixin small {
    @media only screen and (min-width: 760px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}