.añadidoCesta{

    margin: 200px;
    margin-top: 400px;
    text-align: center;
    background-color: red;
    font-size: 60px;

}


.vealacesta{

    margin: 100px;
    text-align: center;
    background-color: rgb(0, 225, 255);
    font-size: 60px;

}