.destination_information{
  width: 40%;
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 4em;
  font-family: "Anton", sans-serif;
  color: #fff;
  right: 40%;
  top: 13%;
  gap: 20px;

    //  @include small{
    //     left: 10%;
    //     font-size: 2.5em;
    //  }

    // & .destination_hotel{
    //     align-self: center;
    // }

    // @include mobile{
    //     right: 85%;
    // }
  }