* {
        border: 0;
        margin: 0;
        padding: 0;
}

.footer {
        width: 100%;
        height: 84vh;
        background-color: black;
        display: flex;
        color: white;
        flex-wrap: wrap;
}

.logo-dos {
        width: 9%;
        height: 8%;
        align-self: flex-start;
        margin-left: 8%;
        margin-top: 6%;
}

.footer li {
        list-style-type: none;
        font-size: 1.05em;
}

.footer-ul {
        width: 40%;
        height: 60%;
        align-self: flex-start;
        margin-left: 6%;
        margin-top: 6%;
        display: flex;
}

.footer-ul .ul-li {
        margin-right: 10%;
        padding: 4%;
}

.li-ul li {
        margin-top: 18%;
        white-space: nowrap;
}

.redes-sociales {
        width: 20%;
        height: 20%;
        margin-top: 10%;
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.instagram {
        width: 30%;
        height: 50%;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png");
        background-size: contain;
        background-repeat: no-repeat;
}

.facebook {
        width: 30%;
        height: 50%;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/800px-Facebook_logo_%28square%29.png");
        background-size: contain;
        background-repeat: no-repeat;
}

.twitter {
        width: 30%;
        height: 50%;
        background-image: url("https://static.vecteezy.com/system/resources/previews/002/534/045/original/social-media-twitter-logo-blue-isolated-free-vector.jpg");
        background-size: contain;
        background-repeat: no-repeat;
}

.footer-ul-debajo {
        width: 60%;
        display: flex;
        color: rgb(167, 164, 164);
        font-size: 0.8em;
}

.footer-ul-debajo li {
        margin-left: 5%;
}