article.article_activity {
  width: 90%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  translate: -50% 0;
  margin-top: 5%;
}

.actividad {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 40px;
  margin: 15px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  &-imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    & .actividad-image {
        width: 226%;
        height: 193px;
        border-radius: 25px;
      @media (min-width: 375px) {
    width: 100%;
    height: 264px;
        
      }
      @media (min-width: 425px) {
        width: 100%;
        height: 267px;
      }
      @media (min-width: 768px) {
        width: 100%;
        height: 428px;
      }
      @media (min-width: 1024px) {
        width: 100%;
        height: 635px;
      }
      @media (min-width: 1440px) {
        width: 100%;
        height: 701px;
      }
      @media (min-width: 2560px) {
        width: 100%;
        height: 1568px;
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: relative;
    left: 50%;
    translate: -50% 0;

    & .actividad-name {
      font-size: 20px;
      text-align: center;
    }

    & .actividad_place,
    & .actividad_date,
    & .actividad_time,
    & .actividad_precio {
      font-size: 20px;
      text-align: center;
    }
  }
}
